
<h1>Here's a list of APIs</h1>

<p><strong>Baybo's API</strong>
  <a href="http://www.baybo.it/api/docs">http://www.baybo.it/api/docs</a>
</p>

<p><strong>Bing</strong>
  <a href="/api/bing/query">/api/bing/query</a>
</p>

<p><strong>Bing Imges</strong> 
  <a href="/api/bing_image/query">/api/bing_image/query</a>
</p>

<p><strong>Youtube Top Result URL</strong>
  <a href="/api/youtube/query">/api/bing/youtube</a>
</p>

<p><strong>Youtube Top Result Embed</strong>
  <a href="/api/embedly_youtube/query">/api/embedly_youtube/query</a>
</p>

