$def with ()
 
<div id="window"> 
  <div id="document" class="roundcorners_top"> 
    <div id="toolbar" class="roundcorners_top"> 
      <ul class="toolbar_nav"> 
        <li class="toolbar_document_title"> 
          <select class="document_selector"> 
            <option selected="selected">My Hackpad Document</option> 
	  </select>
        </li> 
        <li><input type='text' />
	  <input type='submit' value="Save on the cloud with Box.net"/></li> 
      </ul> 
    </div>           
    
    <div id="browser"> 
      <textarea class="content" onmouseup="" id="docbody">
	What's new?
	- Check out our API aggregator!
	- Chat

	Coming soon:
	- Find faces in youtube thumbnails
</textarea> 
      <div id="injectable">
      </div>
      <span id="buffer" style="display: hidden;"></span> 
    </div> 
  </div> 
  
  <div id="hackpad"> 
    
    <div id="hackpad_title"> 
      Hackpad
    </div> 
    
    <div id="" class="hackpad_feature_focus"> 
      <a href="" class="hackpad_feature_link"> 
        &raquo; Magic Helper
      </a> 
    </div> 
    
    <div class="hackpad_feature_sec"> 
      Hands Free Mode <a href="">[?]</a> 
      <input name="auto_librarian" value="on" checked="checked" type="radio"/> 
      <label>on</label> 
      <input name="auto_librarian" value="off" type="radio"/> 
      <label>off</label> 
    </div> 
    
    <ol id="results"> 
      
    </ol> 

    <div class="hackpad_feature_focus"> 
      <a href="" class="hackpad_feature_link">&raquo; Document Entities:</a> 
    </div> 
    <div class="hackpad_feature_sec"> 
      <div class="entity_type_title">People:</div> 
      <ol class="entity_results" id="list_per"> 
      </ol> 
      <div class="entity_type_title">Organizations:</div> 
      <ol class="entity_results" id="list_org"> 
      </ol> 
      <div class="entity_type_title">Locations:</div> 
      <ol class="entity_results" id="list_loc"> 
      </ol> 
    </div> 
    
    <div class="hackpad_feature_focus"> 
      <a href="" class="hackpad_feature_link"> 
        &raquo; Youtube Videos
      </a> 
    </div>
    <div class="hackpad_feature_sec">
      <ol id="youtube_results">

      </ol>
    </div> 
    <!--
    <div id="" class="hackpad_feature_focus"> 
      <a href="" class="hackpad_feature_link"> 
        &laquo; Related Images
      </a> 
      <ol id="bing_img_results">
      </ol>
    </div> 

    <div id="" class="hackpad_feature_bg"> 
      <a href="" class="hackpad_feature_link"> 
        &laquo; Document Formatting
      </a> 
    </div> 
    -->
    <div id="" class="hackpad_feature_focus"> 
      <a href="" class="hackpad_feature_link"> 
        &raquo; &beta;eta Hackpad Features
      </a> 
    </div> 
    
    <div id=""> 
      <a href="">Get more out of your Hackpad!</a> 
      <ul> 
      </ul> 
    </div> 
    
  </div>   
</div> 

