$def with (content)

<html>
    <head>
        <title>$content.get('title', 'We See You!')</title>
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<link rel="shortcut icon" href="http://www.baybo.net:1999/static/ico/babolog.ico" type="image/x-icon" /> 
	<link type="text/css" rel="stylesheet" media="screen" href="/static/css/hackpad.css" /> 

	<!-- Zemanta -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
	<script type="text/javascript" src="http://friedcellcollective.net/js/jQuery.windowName/jQuery.windowName.plugin.js"></script>    

	<script type="text/javascript" src="http://point-at-infinity.org/jssha256/jssha256.js"></script> 
	<script type="text/javascript" src="/static/js/hackpad_bing.js"></script> 
	<script type="text/javascript" src="/static/js/hackpad_google.js"></script> 
	<script type="text/javascript" src="/static/js/hackpad_doCI.js"></script> 
	<script type="text/javascript" src="/static/js/hackpad_baybo.js"></script> 
	<!-- <script type="text/javascript" src="/static/js/hackpad_zemanta.js"></script> -->
	<script type="text/javascript" src="/static/js/hackpad_youtube.js"></script>
	<script type="text/javascript" src="/static/js/envolve.js"></script>
	<script type="text/javascript" src="/static/js/hackpad.js"></script> 
    </head> 

    <body>
        $:content
    </body>
</html>
